@model IEnumerable<AlterData.Models.VwVoto>

@{
    ViewData["Title"] = "Index";
}

<h1>Resultados da votação</h1>

<p>
    <a asp-action="Create">Votar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.recurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.votos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.percentual)
            </th>
            
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.recurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.votos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.percentual)
            </td>
           
          
        </tr>
}
    </tbody>
</table>
